---
---

@import "{{ site.theme }}";

// Custom styles
.page-header {
  background: linear-gradient(120deg, #155799, #159957);
  padding: 3rem 6rem;
}

.project-name {
  font-size: 3.25rem;
  margin: 0.67em 0;
}

.project-tagline {
  font-size: 1.25rem;
  opacity: 0.8;
}

.main-content {
  max-width: 64rem;
  padding: 2rem 6rem;
  margin: 0 auto;
  font-size: 1.1rem;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #155799;
}

code {
  background-color: #f3f6fa;
  border-radius: 0.3rem;
  font-family: Consolas, Monaco, 'Courier New', monospace;
}

pre {
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem;
  padding: 0.8rem;
  font-size: 0.9rem;
  overflow: auto;
  line-height: 1.45;
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }
}